@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Sixtyfour&display=swap');

body {
  background-color: rgb(51, 51, 51);
  color: white;
  font-family: 'Sixtyfour', sans-serif;
  
}

.App {
  text-align: center;
}

.GameDiv {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center elements horizontally */
  margin-top: 50px;
}

.PlayerDiv, .OpDiv, .Log {
  width: 80%; /* Adjust the width of each section */
  padding: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  margin-bottom: 20px; /* Add margin between sections */
}

.PlayerDiv {
  background-color: green;
}

.OpDiv {
  background-color: rgb(128, 0, 0);
}

.Log {
  background-color: #696969;
}

.GameButtons {
  margin-top: 20px;
}

.GameButtons button {
  font-family: 'Sixtyfour', sans-serif;
  font-weight: bold;
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ffffff00;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  outline: none;
}

.GameButtons button:hover {
  background-color: #00000046;
}