.inventory-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: Auto;
  justify-items: center;
  align-items: center;
  z-index: 2;
}